<div ng-include="'partials/navbar'"></div>




<div>
	<div class="row wrap">

		<!--center-->
		<div class="col-sm-6">
			<div class="row">
				<div class="jumbotron"
					style="padding-left: 30px;padding-top: 5px;  height: 120px; background-color: white;">
					<input type="text" id="search" name="search"
						style="width: 450px; float: left;" /> <input type="button"
						id="search" name="search" style="width: 150px; float: left;"
						value="Search" />
						
						
						"I Am The Answer" is a famous dialogue from the Malayalam cult comedy movie *[Mazha Peyyunnu Maddhalam Kottunnu](http://en.wikipedia.org/wiki/Mazha_Peyyunnu_Maddalam_Kottunnu)* directed by Priyadarshan. There will be only very few Malayalees(people from the state of Kerala in India) who would not have seen that movie. The YouTube link of that famous scene is available [here](http://www.youtube.com/watch?v=B2tRL7r3uSE).

The intention of this project is to be a database of Malayalam Movie Dialogues like an IMDb is for Movies. This is a small step, starting with Malayalam language, but can be enhanced for other languages as well and hence I intend to make this as an open source project. 
				</div>
			</div>
		</div>
		<!--/center-->

		<!--right-->
		<div class="col-sm-6" style="padding-right: 26px">

			<div class="row" >
				<div class="col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">Most Popular</div>
						<div class="panel-body">
						<ul ng-repeat="dialog in dialogs">
							<li>{{dialog.text}}</li>
						</ul>
						
						</div>
					</div>
					<hr>
					<div class="panel panel-default">
						<div class="panel-heading">Top Rated</div>
						<div class="panel-body"></div>
					</div>
					<hr>
					<div class="panel panel-default">
						<div class="panel-heading">Most Popular By --Genre--</div>
						<div class="panel-body"></div>
					</div>
				</div>
			</div>

		</div>
		<!--/right-->

	</div>
	<br />




</div>
<div class="footer">
	<p>Built by Dhanush Gopinath using Yeoman</p>
</div>
